!!!
%html
  %head
    %title Watch Wednesday
  %body
    #wednesday
      :markdown
        # Watch Wednesday

        Follow [@watchwednesday](http://twitter.com/watch_wednesday) or
        watch [watchwednesday](http://github.com/benatkin/watchwednesday) for updates!
